<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<div class="main-area">
		<!-- form para crear nuevas tareas -->
		<div class="functions-area">
			<div class="create-area">
				<h3>Crear nueva tarea</h3>
				<input type="text" placeholder="Título de la tarea" [(ngModel)]="tituloTarea"/>
				<input type="number" placeholder="Duración (minutos)" [(ngModel)]="minutosTarea"/>
				<button (click)="agregarTarea()" >Agregar Tarea</button>
			</div>
			<div class="delete-area">
				<h3>Eliminar tareas</h3>
				<button (click)="eliminarTareas()">Eliminar Tareas Seleccionadas </button>
			</div>
			<div class="favorite-area">
				<h3>Marcar como destacadas</h3>
				<button (click)="marcarDestacadas()">Marcar como destacadas</button>
			</div>
			<div class="order-area">
				<h3>Ordenar aleatoriamente</h3>
				<button (click)="ordenarAleatorio()">Ordenar aleatoriamente</button>
			</div>
		</div>
		<!-- tabla para mostrar las tareas -->
		<div class="table-area">
			<h2>Listado de tareas</h2>
			<table>
				<thead>
					<tr>
						<th class="title-tarea" (click)="ordenarTareas('titulo')">Título</th>
						<th class="title-tarea" (click)="ordenarTareas('minutos')">Duración (minutos)</th>
						<th class="title-tarea">Seleccionada</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tarea of tareas" [class.tarea-destacada]="tarea.destacada">
						<td class="data-tarea">{{ tarea.titulo }}</td>
						<td class="data-tarea">{{ tarea.minutos }}</td>
						<td class="data-tarea"><input type="checkbox" (change)="seleccionarTarea(tarea)"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>