<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<div class="main-area">
		<!-- form para crear nuevas tareas -->
		<div>
			<h2>Crear nueva tarea</h2>
			<input type="text" placeholder="Título de la tarea" [(ngModel)]="tituloTarea"/>
			<input type="number" placeholder="Duración (minutos)" [(ngModel)]="minutosTarea"/>
			<button (click)="agregarTarea()" >Agregar Tarea</button>
			</div>
			<!-- tabla para mostrar las tareas -->
		<div class="table-area">
			<h2>Listado de tareas</h2>
			<table>
				<thead>
					<tr>
						<th>Título</th>
						<th>Duración (minutos)</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tarea of tareas">
						<td class="data-tarea">{{ tarea.titulo }}</td>
						<td class="data-tarea">{{ tarea.minutos }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>